#Python
__pycach__/
*.py[cod]
*pyo
*.egg-info/
dist/
build/

#Virtual Environment
venv/
env/
.venv/

#IDE
.vscode/
.idea/

#Database
*.db
*sqlite3
netmonitor.db-wal
netmonitor.db-shm

#OS files
.DS_Store
Tumbs.db

#Environment variables
.env

#Backup data
backups/*.txt

#Byte-compiled
*.pyc
CODE_OVERVIEW.md
